<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Login Page</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<div class="grey_box" style="width:32em;">
    <h1 id="banner">Login to Disc App Service</h1>
    <form name="f" th:action="@{/login}" method="post">

        <div th:if="${param.error}" class="alert alert-error">
            Invalid Username and Password
        </div>

        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>

        <table>
            <tr>
                <th><label>Email</label></th>
                <td><input type="email" class="button" id="username" name="username"/></td>
            </tr>
            <tr>
                <th><label>Password</label></th>
                <td><input type="password" class="button" id="password" name="password"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input class="button" name="submit" type="submit" value="Login">&nbsp;
                    <input class="button" name="reset" type="reset">
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a href="/account/create">Click Here to Create A New Account</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a href="/account/password">Click Here to Reset Your Password</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a href="#" onclick="history.back()" type="text">Click Here to Return to Previous Page</a>
                </td>
            </tr>
        </table>
    </form>

</div>

<div th:if="${appId}" class="grey_box" style="width:32em;">
    <form method="post" action="/login" enctype="multipart/form-data">
        <p style="text-align:center;">Or enter the admin password for this DiscussionApp-</p>
        <div>
            <input type="password" class="button" name="password" size="20" maxlength="20" />
            <input type="submit" name="submit_password" value="Enter Password" class="button" />
            <input type="hidden" name="username" th:value="${appId}" />
        </div>
    </form>
</div>

</body>
</html>