<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Login Page</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<!-- TODO : to be styled correctly in later ticket -->
<style type="text/css">
    .alert-error {
        color: red;
    }

    .alert-success {
        color: green;
    }

</style>

<div class="grey_box">
    <h1 id="banner">Login to Disc App Service</h1>
    <form name="f" th:action="@{/login}" method="post">
        <table>

            <div th:if="${param.error}" class="alert alert-error">
                Invalid Username and Password
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>

            <tr>
                <td><label>Email:</label></td>
                <td><input type="text" id="username" name="username"/></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input type="password" id="password" name="password"></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input class="button" name="submit" type="submit" value="Login">&nbsp;
                    <input class="button" name="reset" type="reset">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a th:href="@{|/account/create?redirect=${redirectUrl}|}">Click Here to Create A New Account</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a th:href="${redirectUrl}" th:text="@{|Return to ${appName}|}"></a>
                </td>
            </tr>
        </table>
    </form>

</div>

</body>
</html>