<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Login Page</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<div class="grey_box">
    <h1 id="banner">Logout of Disc App Service</h1>
    <form name="f" th:action="@{/logout}" method="post">
        <table>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input class="button" name="submit" type="submit" value="Click Here To Log Out">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a href="#" onclick="history.back()" type="text">Click Here to Return to Previous Page</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a href="/">Click Here to Return to Home Page</a>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>