<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Delete Account</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : '6Lcy7LcUAAAAAEX5j1QoCUpgM3tViv6oHdUCBkTV'
        });
      };

    function validateReCaptcha() {
        var response = grecaptcha.getResponse();
        if (response.length === 0) {
            alert('ReCaptcha is not valid.');
            return false;
        } else {
            document.getElementById("reCaptchaResponse").value = response;
            return true;
        }
    }
    </script>

</head>
<body>

<div class="grey_box" style="width:40em;">
    <h1 id="banner">Delete Account</h1>
    <div style="padding:10px;">
        To delete your Disc App account, please click the button below. <b>When your account is deleted, any
        Disc Apps you have created will also be deleted and no longer accessible.</b>


        <table>
            <tr>
                <td colspan="2">
                    <div id="html_element" style="display:inline-block;"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <form name="f" th:action="@{/account/delete}" method="post" onsubmit="return validateReCaptcha();">

                    <input type="hidden" id="reCaptchaResponse" name="reCaptchaResponse">
                    <input class="button" name="deleteAccount" type="submit" value="Delete Account">&nbsp;
                    </form>
                    <a href="/account/modify">
                        <button class="button">Cancel</button>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding:10px;">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a href="/login">Return to Login Page</a>
                </td>
            </tr>
        </table>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>
</div>

</body>
</html>