<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div id="navigation" th:fragment="navigation" style="background-color:#dde;padding-bottom:11px;">
    <ul>
        <li><a href="/site_admin/update">Update News</a> |</li>
        <li><a href="/site_admin/accounts">Accounts</a> |</li>
        <li><a href="/site_admin/applications">Applications</a> |</li>
        <li><a href="/site_admin/threads">Threads</a> |</li>
        <li><a href="/site_admin/imports">Imports</a> |</li>
        <li><a target="_blank" href="/abuse/abuse.cgi">Reported Abuse</a> |</li>
        <li><a href="/">Exit</a></li>
    </ul>
</div>
</body>
</html>