<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <style type="text/css">
        body {
            color: black;
            background-color: white;
            background-image: url(/images/graph.png);
            text-align: center;
            height: 40px;
        }

        img {
            border: 0;
            height: 32px;
            width: 32px;
            padding: 2px;
        }

        a {
            float: left;
        }

        a:hover {
            background-color: #ccf;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>

<body>
<div style="height:40px; width:440px; margin:auto; ">
    <a target="dbmain" th:href="@{|/admin/disc-info.cgi?id=${appId}|}" title="Main Page"><img alt="Info" src="/images/info.png" /></a>
    <a target="dbmain" th:href="@{|/admin/appearance-frameset.cgi?id=${appId}|}" title="Appearance"><img alt="Appearance" src="/images/palette.png" /></a>
    <a target="dbmain" th:href="@{|/admin/disc-locale.cgi?id=${appId}|}" title="Timezone &amp; Language"><img alt="Time" src="/images/globe.png" /></a>
    <a target="dbmain" th:href="@{|/admin/disc-edit.cgi?id=${appId}|}" title="Edit Messages"><img alt="Edit Database" src="/images/messages.png" /></a>
    <a target="dbmain" th:href="@{|/admin/disc-list-maint.cgi?id=${appId}|}" title="Mailing List"><img alt="Mailing List" src="/images/envelope.png" /></a>
    <a target="dbmain" th:href="@{|/admin/disc-rss-maint.cgi?id=${appId}|}" title="RSS Settings"><img alt="RSS" src="/images/rss-icon.gif" /></a>
    <a target="dbmain" th:href="@{|/admin/disc-widget-maint.cgi?id=${appId}|}" title="Widget"><img alt="Widget" src="/images/widget-icon.png" /></a>
    <!--
    <a target="dbmain" href="/admin/disc-twitter-maint.cgi?id=1" title="Twitter"><img alt="Twitter" src="/images/twitter-36x36.png" /></a>
    -->
    <a target="dbmain" th:href="@{|/admin/disc-security.cgi?id=${appId}|}" title="Security"><img alt="Security Settings" src="/images/lock.png" /></a>
    <a target="dbmain" th:href="@{|/admin/disc-stats.cgi?id=${appId}|}" title="Visitor Statistics"><img alt="Statistics" src="/images/stats.gif" /></a>
    <a target="dbmain" th:href="@{|/admin/disc-import-export.cgi?id=${appId}|}" title="Import Export Data"><img alt="Import Export" src="/images/import_export.png" /></a>
    <a target="dbmain" th:href="@{|/admin/disc-docs.cgi?id=${appId}|}" title="Documentation"><img alt="Documentation" src="/images/library.png" /></a>
    <a target="dbmain" href="/indices/1" title="Help Forum"><img alt="Help" src="/images/help.png" /></a>
</div>
</body>

</html>