<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="@{|Disc App Maintenance Page - ${appName}|}"></title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <style type="text/css">
        div.grey_box div.offset {margin-left:2em; margin-top:3px; padding-bottom:1em; margin-bottom:1em; font-size:smaller; text-align:left; border-bottom: 1px solid #444;}
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
</head>
<body>

<div th:replace="admin/fragments/account-controls :: account-controls">
    static thread prototyping placeholder
</div>

<div class="grey_box" id="disc_doc" style="width:70%;" th:if="${appId}">

    <h2>Advanced DiscApp Feature Documentation</h2>
    <hr />
    <div id="navigation">
        <ul>
            <li>
                <a href="#highlight_new_messages">Highlight New Messages</a>
            </li>
            <li>
                <a href="#read_thread_history">Read Thread History</a>
            </li>
            <li>
                <a href="#search_feature">Search Feature</a>
            </li>
            <li>
                <a href="#administration_link">Administration Link</a>
            </li>
        </ul>
    </div>
    <hr />
    <div id="highlight_new_messages">
        <h4>Highlight New Messages</h4>
        <p>
            With this feature enabled on the Appearance settings page under the Threads configuration, any message or
            reply that has been created in the past 24 hours will be marked with an additional CSS class "new_message".
            Once a message is no longer less than 24 hours old, it will no longer be marked as a new message.
        </p>
        <p>
            <b><u>Using this feature:</u></b>
        </p>

        <ul>
            <li>
                <b>Built in CSS options:</b> If you are using one of the built in CSS options provided in the Appearance settings
                page, no additional work will be needed as this feature has already been added to those choices.
            </li>
            <li>
                <b>Custom CSS option:</b> If you are using your own CSS page on your DiscApp, you will need to add the
                following additional rule to your file (using the color of  your choosing):
                <br />
                <br />
                <u>Expand on index:</u>
                <br />
                <pre class="code">
    span.new_message {
         background-color:gray;
    }
                </pre>
                <u>Non-expand on index:</u>
                <br />
                <pre class="code">
    a.new_message {
        background-color:gray;
    }
                </pre>
            </li>
        </ul>
        <a href="#navigation">Back to top</a>
    </div>
    <hr />


    <div id="read_thread_history">
        <h4>Read Thread History</h4>
        <p>
            This feature allows users who have a registered account and are logged in to keep track of which threads
            they have read. With this feature an additional CSS class attribute will be added called "read" to thread
            anchor tags. By default on the built in CSS options, it is the same as the visited link color. This can be
            changed on custom CSS implementations if desired.
        </p>
        <p>
            <b><u>Using this feature:</u></b>
        </p>

        <ul>
            <li>
                <b>Built in CSS options:</b> If you are using one of the built in CSS options provided in the Appearance settings
                page, no additional work will be needed as this feature has already been added to those choices.
            </li>
            <li>
                <b>Custom CSS option:</b> If you are using your own CSS page on your DiscApp, you will need to add the
                following additional rule to your file (using the color of  your choosing):
                <br />
                <pre class="code">
    .read {
        color: #551A8B;
    }
                </pre>
            </li>
        </ul>
        <a href="#navigation">Back to top</a>
    </div>
    <hr />

    <div id="search_feature">
        <h4>Adding a Search Feature</h4>
        <p>
            By default when your DiscApp is created, the HTML required for the search feature is added to the epilogue of
            your DiscApp. The search feature allows users to search subjects and message bodies of articles of your DiscApp.
            Please use the below HTML code if you would like add the search feature elsewhere or need to reset or replace
            the original entry.
        </p>
        <p>
            <b><u>Using this feature:</u></b>
        </p>
        <pre class="code" th:text="${searchHtml}">
        </pre>
        <a href="#navigation">Back to top</a>
    </div>
    <hr />

    <div id="administration_link">
        <h4>Adding an Administration Link</h4>
        <p>
            By default when your DiscApp is created, the administration link added to the epilogue of
            your DiscApp.
            Please use the below HTML code if you would like add the link elsewhere or need to reset or replace
            the original entry.
        </p>
        <p>
            <b><u>Using this feature:</u></b>
        </p>
        <pre class="code" th:text="${adminLinkHtml}">
        </pre>
        <a href="#navigation">Back to top</a>
    </div>
</div>

</body>
</html>