<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="@{|Disc App Maintenance Page - ${appName}|}"></title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
</head>
<body>

<div th:replace="admin/fragments/account-controls :: account-controls">
    static thread prototyping placeholder
</div>

<div th:if="${maintenanceWidgetViewModel.getInfoMessage()}" class="alert alert-error grey_box"
     th:text="${maintenanceWidgetViewModel.getInfoMessage()}">
</div>

<div th:if="${maintenanceWidgetViewModel.getApplicationId()}">

    <form method="post"
          th:action="@{|/admin/disc-widget-maint.cgi?id=${maintenanceWidgetViewModel.getApplicationId()}|}"
          enctype="multipart/form-data"
          th:object="${maintenanceWidgetViewModel}">

        <div style="width:40em; margin:auto;">
            <p>A DiscussionApp widget can show 5 of the latest messages in a little box on your website.
                It's more informative and attention-getting than a regular link. Below is an example of your widget .
            </p>
        </div>

        <div class="grey_box" style="width:24em; float:left; margin-left:4%;">
            <fieldset style="width:22em;">
                <p>
                    <label for="widgetWidth">Width</label>
                    <input type="text" name="widgetWidth" th:value="${maintenanceWidgetViewModel.getWidgetWidth()}" size="3" id="widgetWidth" />
                    <label>
                        <input type="radio" name="widgetWidthUnit" value="px" th:checked="${maintenanceWidgetViewModel.isWidthUnit('px')}" />px</label>
                    <label>
                        <input type="radio" name="widgetWidthUnit" value="ex" th:checked="${maintenanceWidgetViewModel.isWidthUnit('ex')}" />ex</label>
                    <label>
                        <input type="radio" name="widgetWidthUnit" value="em" th:checked="${maintenanceWidgetViewModel.isWidthUnit('em')}" />em</label>
                    <label>
                        <input type="radio" name="widgetWidthUnit" value="percent" th:checked="${maintenanceWidgetViewModel.isWidthUnit('percent')}" />%</label>
                </p>
                <p>
                    <label for="widgetHeight">Height</label>
                    <input type="text" name="widgetHeight" th:value="${maintenanceWidgetViewModel.getWidgetHeight()}" size="3" id="widgetHeight" />
                    <label>
                        <input type="radio" name="widgetHeightUnit" value="px" th:checked="${maintenanceWidgetViewModel.isHeightUnit('px')}" />px</label>
                    <label>
                        <input type="radio" name="widgetHeightUnit" value="ex" th:checked="${maintenanceWidgetViewModel.isHeightUnit('ex')}" />ex</label>
                    <label>
                        <input type="radio" name="widgetHeightUnit" value="em" th:checked="${maintenanceWidgetViewModel.isHeightUnit('em')}" />em</label>
                    <label>
                        <input type="radio" name="widgetHeightUnit" value="percent" th:checked="${maintenanceWidgetViewModel.isHeightUnit('percent')}" />%</label>
                </p>
            </fieldset>
            <p>
                <label>
                    <input type="checkbox" name="showAuthor"
                           th:checked="${maintenanceWidgetViewModel.isShowAuthor()}" id="showAuthor" />
                </label>
                <label for="showAuthor">Show Author</label>
            </p>
            <p>
                <label>
                    <input type="checkbox" name="showDate"
                           th:checked="${maintenanceWidgetViewModel.isShowDate()}" id="showDate" />
                </label>
                <label for="showDate">Show Date</label>
            </p>
            <p>
                <label>
                    <input type="checkbox" name="showStyleSheet"
                           th:checked="${maintenanceWidgetViewModel.isShowStyleSheet()}" id="showStyleSheet" />
                </label>
                <label for="showStyleSheet">Use DiscussionApp Style Sheet</label>

                <span style="font-size:smaller;">
                    (select style sheet on
                    <a th:href="@{|/admin/appearance-frameset.cgi?id=${maintenanceWidgetViewModel.getApplicationId()}|}">appearance tab</a>

                    <!--TODO : documentation links >
                    <a href="/Documentation/HTML/discussionapps_widgets.html" target="_blank">
                        see documentation)
                    </a>-->
                    )
                </span>
            </p>

            <div class="pad">
                <input type="submit" name="submitChanges" value="Submit Changes" class="button" />
                <input type="submit" name="resetToDefault" value="Reset To Default Values" class="button" />
            </div>
        </div>
        <div>
            <input type="hidden" name=".cgifields" value="show_author" />
            <input type="hidden" name=".cgifields" value="widget_height_unit" />
            <input type="hidden" name=".cgifields" value="show_stylesheet" />
            <input type="hidden" name=".cgifields" value="show_date" />
            <input type="hidden" name=".cgifields" value="widget_width_unit" />
        </div>
    </form>

    <div th:utext="${maintenanceWidgetViewModel.getCodeHtml()}">
        Live widget example
    </div>

    <div style="clear:both; width:40em; margin:auto;">
        Copy and paste the following to your own web pages to insert this widget. Feel free to edit the code to
        blend it in with your site. You may want to remove the <b>float:right;</b> code or add
        <b>&lt;br&nbsp;style="clear:right;"&nbsp;\></b> after the widget code if you're not familiar
        with style sheets and positioning.

        <pre class="code" th:text="${maintenanceWidgetViewModel.getCodeHtml()}">
        </pre>
    </div>

</div>

</body>
</html>