<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="@{|Disc App Maintenance Page - ${appName}|}"></title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <style type="text/css">
        fieldset {
            background-color: #fff;
        }

        fieldset a,
        fieldset span {
            text-decoration: none;
            padding: 3px;
            float: left;
            font-weight: normal;
        }

        fieldset a:hover {
            background-color: #ccf;
        }

        fieldset img {
            height: 32px;
            width: 32px;
            vertical-align: middle;
        }

        p {
            margin-bottom: 3ex;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>

<body>

<div th:replace="admin/fragments/account-controls :: account-controls">
    static thread prototyping placeholder
</div>

<div th:if="${isAdmin}">

<form method="post" th:action="@{|/disc-info.cgi?id=${appId}|}" enctype="multipart/form-data">
    <input type="hidden" name="id" th:value="${appId}" />

    <div style="width:32em; margin:auto; text-align:center; margin-top:5%; font-weight:bold;">
        <!--h3 style="background-color:#fdd;">The DiscussionApp service will end on October 31, 2019.</h3>
        <h3><a href="/Dumps/disc_46108.sql">Click here to download your DiscApp</a></h3>
        <h3><a href="?id=${appId};dump=1">Click here to dump your DiscApp</a></h3-->
        <div>Visitors can access your DiscussionApp with the URL </div>
        <div style="margin-top:1ex; margin-bottom:2em;"><a th:href="${appUrl}" target="_blank" th:text="${appUrl}"></a></div>
        <fieldset>
            <legend>Click on the icons below to modify your DiscussionApp</legend>
            <table style="border-collapse:collapse;">
                <tr>
                    <td>
                        <a th:href="@{|/admin/appearance-frameset.cgi?id=${appId}|}"><img alt="Appearance" src="/images/palette.png" /> Appearance</a>
                    </td>
                    <td>
                        <a th:href="@{|/admin/disc-edit.cgi?id=${appId}|}"><img alt="Messages" src="/images/messages.png" /> Messages</a>
                    </td>
                    <td>
                        <a th:href="@{|/admin/disc-security.cgi?id=${appId}|}"><img alt="Security" src="/images/lock.png" /> Security</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{|/admin/disc-list-maint.cgi?id=${appId}|}"><img alt="Mailing List" src="/images/envelope.png" /> Mailing list</a>
                    </td>
                    <!--td>
                        <a href="/admin/disc-rss-maint.cgi?id=46108"><img alt="RSS icon" src="/images/rss-icon.gif" /> RSS</a>
                    </td-->
                    <td>
                        <a th:href="@{|/admin/disc-widget-maint.cgi?id=${appId}|}"><img alt="Widget icon" src="/images/widget-icon.png" /> Widget</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{|/admin/disc-locale.cgi?id=${appId}|}"><img alt="Locale Settings" src="/images/globe.png" /> Locale</a>
                    </td>
                    <td>
                        <a th:href="@{|/admin/disc-stats.cgi?id=${appId}|}"><img alt="Stats" src="/images/stats.gif" /> Statistics</a>
                    </td>
                    <!--td>
                        <a href="/admin/disc-twitter-maint.cgi?id=46108" title="Twitter"><img alt="Twitter" src="/images/twitter-36x36.png"> Twitter</img>
                        </a>
                    </td-->
                </tr>
                <tr>
                    <td>
                        <a th:href="@{|/admin/disc-import-export.cgi?id=${appId}|}"><img alt="Import Export" src="/images/import_export.png" /> Import/Export</a>
                    </td>
                    <td>
                        <a href="/indices/1"><img alt="Help icon" src="/images/help.png" /> Questions</a>
                    </td>
                    <td>
                        <span><img alt="Info icon" src="/images/info.png" /> This page</span>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</form>
</div>

<div th:unless="${isAdmin}" class="alert alert-error grey_box">
    You do not have permission to edit this disc app.
</div>
</body>

</html>