<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="@{|Disc App Maintenance Page - ${appName}|}"></title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <style type="text/css">
        label{font-weight:normal;}
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
</head>

<body>

<div th:replace="admin/fragments/account-controls :: account-controls">
    static thread prototyping placeholder
</div>

<div th:if="${maintenanceThreadViewModel.getInfoMessage()}" class="alert alert-error grey_box"
     th:text="${maintenanceThreadViewModel.getInfoMessage()}">
</div>

<div th:if="${maintenanceThreadViewModel.getApplicationId()}">

    <form method="post"
          th:action="@{|/admin/disc-edit.cgi?id=${maintenanceThreadViewModel.getApplicationId()}&tab=${maintenanceThreadViewModel.getTab()}|}"
          enctype="multipart/form-data"
          th:object="${maintenanceThreadViewModel}">

        <input type="hidden" name="id" th:value="${appId}"/>
        <input type="hidden" name="currentPage" th:value="${maintenanceThreadViewModel.getCurrentPage()}"/>

        <div id="tabs">
            <span th:if="${maintenanceThreadViewModel.getTab().equals('threads')}"  class="tab" style="background-color:#fff; color:#00f;
              border:3px solid blue; border-bottom-color:#fff;">View by Thread</span>
            <a th:unless="${maintenanceThreadViewModel.getTab().equals('threads')}" class="tab" th:href="@{|/admin/disc-edit.cgi?id=${appId}&tab=threads|}">View by Thread</a>

            <span th:if="${maintenanceThreadViewModel.getTab().equals('date')}" class="tab" style="background-color:#fff; color:#00f;
              border:3px solid blue; border-bottom-color:#fff;">View by Date</span>
            <a th:unless="${maintenanceThreadViewModel.getTab().equals('date')}" class="tab" th:href="@{|/admin/disc-edit.cgi?id=${appId}&tab=date|}">View by Date</a>

            <span th:if="${maintenanceThreadViewModel.getTab().equals('search')}" class="tab" style="background-color:#fff; color:#00f;
              border:3px solid blue; border-bottom-color:#fff;">Search</span>
            <a  th:unless="${maintenanceThreadViewModel.getTab().equals('search')}" class="tab" th:href="@{|/admin/disc-edit.cgi?id=${appId}&tab=search|}">Search</a>

            <span th:if="${maintenanceThreadViewModel.getTab().equals('post') && maintenanceThreadViewModel.isHasPostPermission()}"  class="tab" style="background-color:#fff; color:#00f;
              border:3px solid blue; border-bottom-color:#fff;">Post</span>
            <a th:if="${!maintenanceThreadViewModel.getTab().equals('post') && maintenanceThreadViewModel.isHasPostPermission()}" class="tab" th:href="@{|/admin/disc-edit.cgi?id=${appId}&tab=post|}">Post</a>


            <span th:if="${maintenanceThreadViewModel.getTab().equals('unapproved') && maintenanceThreadViewModel.isHasEditPermission() && maintenanceThreadViewModel.isHasUnapprovedMessages()}"
                  class="tab" style="background-color:#fff; color:#00f;border:3px solid blue; border-bottom-color:#fff;">
                Unapproved Messages
            </span>
            <a th:if="${!maintenanceThreadViewModel.getTab().equals('unapproved') && maintenanceThreadViewModel.isHasEditPermission() && maintenanceThreadViewModel.isHasUnapprovedMessages()}"
               class="tab"
               th:href="@{|/admin/disc-edit.cgi?id=${appId}&tab=unapproved|}">
                Unapproved Messages
            </a>
        </div>

        <div th:if="${maintenanceThreadViewModel.isOnEditMessage() || maintenanceThreadViewModel.isOnEditModifyMessage()}">
            <div th:replace="admin/fragments/edit-thread :: edit-thread">
                static thread prototyping placeholder
            </div>
        </div>

        <div th:unless="${maintenanceThreadViewModel.isOnEditMessage()}">

            <div th:if="${maintenanceThreadViewModel.getTab().equals('threads') || maintenanceThreadViewModel.getTab().equals('date') || (maintenanceThreadViewModel.getTab().equals('search') && maintenanceThreadViewModel.isSearchSubmitted()) || maintenanceThreadViewModel.getTab().equals('unapproved')}"
                 style="padding-left:1em;">

                <p style="text-align:center;"
                   th:text="@{|There are ${maintenanceThreadViewModel.getNumberOfMessages()} messages.|}"></p>

                <div class="buttons">
                    <input th:if="${maintenanceThreadViewModel.isHasEditPermission()}" type="submit" name="deleteArticles" value="Delete Messages" class="button"/>
                    <input th:if="${maintenanceThreadViewModel.isHasEditPermission() && !maintenanceThreadViewModel.getTab().equals('unapproved')}" type="submit" name="deleteArticlesAndReplies" value="Delete Messages and Replies"
                           class="button"/>
                    <input th:if="${maintenanceThreadViewModel.isHasEditPermission() && maintenanceThreadViewModel.getTab().equals('unapproved')}"  type="submit" name="approve" value="Approve" class="button"/>
                    <input th:if="${maintenanceThreadViewModel.isHasEditPermission()}" type="submit" name="reportAbuse" value="Report as Abuse" class="button"/>

                    <input th:if="${!maintenanceThreadViewModel.getTab().equals('search') && maintenanceThreadViewModel.isHasPreviousPage()}"
                           type="submit"
                           name="previousPageSubmit" value="Previous Page" class="button"/>
                    <input th:if="${!maintenanceThreadViewModel.getTab().equals('search') && maintenanceThreadViewModel.isHasNextPage()}"
                           type="submit"
                           name="nextPageSubmit" value="Next Page" class="button"/>

                    <input th:if="${maintenanceThreadViewModel.getTab().equals('search')}" type="submit"
                           name="searchAgain" value="Search Again" class="button"/>
                </div>

                <div th:replace="admin/fragments/edit-threads :: edit-threads">
                    static thread prototyping placeholder
                </div>

                <div class="buttons">
                    <input th:if="${maintenanceThreadViewModel.isHasEditPermission()}" type="submit" name="deleteArticles" value="Delete Messages" class="button"/>
                    <input th:if="${maintenanceThreadViewModel.isHasEditPermission() && !maintenanceThreadViewModel.getTab().equals('unapproved')}" type="submit" name="deleteArticlesAndReplies" value="Delete Messages and Replies"
                           class="button"/>
                    <input th:if="${maintenanceThreadViewModel.isHasEditPermission() && maintenanceThreadViewModel.getTab().equals('unapproved')}"  type="submit" name="approve" value="Approve" class="button"/>
                    <input th:if="${maintenanceThreadViewModel.isHasEditPermission()}" type="submit" name="reportAbuse" value="Report as Abuse" class="button"/>

                    <input th:if="${!maintenanceThreadViewModel.getTab().equals('search') && maintenanceThreadViewModel.isHasPreviousPage()}"
                           type="submit"
                           name="previousPageSubmit" value="Previous Page" class="button"/>
                    <input th:if="${!maintenanceThreadViewModel.getTab().equals('search') && maintenanceThreadViewModel.isHasNextPage()}"
                           type="submit"
                           name="nextPageSubmit" value="Next Page" class="button"/>

                    <input th:if="${maintenanceThreadViewModel.getTab().equals('search')}" type="submit"
                           name="searchAgain" value="Search Again" class="button"/>
                </div>
                <div>
                    <input type="hidden" name=".cgifields" value="selected"/>
                </div>
            </div>

            <div th:if="${maintenanceThreadViewModel.getTab().equals('search') && !maintenanceThreadViewModel.isSearchSubmitted()}"
                 style="padding-left:1em;">

                <div th:replace="admin/fragments/search-threads :: search-threads">
                    static thread prototyping placeholder
                </div>
            </div>

            <div th:if="${maintenanceThreadViewModel.getTab().equals('post')}">
                <div th:if="${maintenanceThreadViewModel.isHasPostPermission()}" th:replace="admin/fragments/post-thread :: post-thread">
                    static thread prototyping placeholder
                </div>
            </div>
        </div>

    </form>
</div>

</body>
</html>