<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Subscribe to Mailing List</title>
    <link rel="stylesheet" type="text/css" th:href="${applicationSubscriptionModel.getApplicationStyleSheetUrl()}"/>
    <link rel="shortcut icon" th:href="${applicationSubscriptionModel.getApplicationFaviconUrl()}" type="image/x-icon">
    <link rel="icon" th:href="${applicationSubscriptionModel.getApplicationFaviconUrl()}"  type="image/x-icon">

    <script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : '6Lcy7LcUAAAAAEX5j1QoCUpgM3tViv6oHdUCBkTV'
        });
      };

    function validateReCaptcha() {
        var response = grecaptcha.getResponse();
        if (response.length === 0) {
            alert('ReCaptcha is not valid.');
            return false;
        } else {
            document.getElementById("reCaptchaResponse").value = response;
            return true;
        }
    }
    </script>
</head>
<body>

    <div th:if="${applicationSubscriptionModel.getErrorMessage()}"
         style="margin:auto;width:30em;color:red;font-weight:bolder;"
         th:text="${applicationSubscriptionModel.getErrorMessage()}">
    </div>

    <form method="post" th:action="@{|/disc-list-subscribe.cgi?id=${applicationSubscriptionModel.getApplicationId()}|}"
          enctype="application/x-www-form-urlencoded" th:object="${applicationSubscriptionModel}"
          onsubmit="return validateReCaptcha();">
        <input type="hidden" id="reCaptchaResponse" name="reCaptchaResponse">
        <div style="width:30em; margin:auto; margin-top:5%; margin-bottom:2%">

            [[${applicationSubscriptionModel.getSubscriptionEmailTextBoxLabel()}]]

            <input type="email" name="email" th:value="${applicationSubscriptionModel.getEmail()}" size="40" />
            <br />
            <div id="html_element" style="display:inline-block;padding:15px;"></div>
            <br />
            <input type="submit" name="Subscribe" th:value="${applicationSubscriptionModel.getSubscribeButtonText()}" />
        </div>
        <p style="margin:2em;">
            <a th:href="@{|/Indices/${applicationSubscriptionModel.getApplicationId()}.html|}"
               th:text="${applicationSubscriptionModel.getReturnToApplicationText()}">
            </a>
        </p>
        <div style="clear:both; font-size:smaller; text-align:center; margin-top:2em; margin-bottom:1em;">
            <a th:href="${applicationSubscriptionModel.getBaseUrl()}" target="_top">
                Forum by <span style="color:#d44;" th:text="${applicationSubscriptionModel.getBaseUrl()}"></span>
            </a>
        </div>
        <input type="hidden" name="id" th:value="${applicationSubscriptionModel.getApplicationId()}" />
        <div></div>
    </form>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>

</body>
</html>