<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Manage Applications</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<div th:if="${accountViewModel.getInfoMessage()}"
     class="grey_box alert alert-success"
     style="width:40em;"
     th:text="${accountViewModel.getInfoMessage()}">
</div>

<div th:if="${accountViewModel.getErrorMessage()}"
     class="grey_box alert alert-error"
     style="width:40em;"
     th:text="${accountViewModel.getErrorMessage()}">
</div>


<div class="grey_box" style="width:40em;">
    <h2 id="add_application_banner">Add Disc App to Account</h2>
    <hr/>
    <div th:if="${accountViewModel.isBelowAppLimit()}">
        <form name="f" action="/account/add/application" method="get">
            <table>
                <tr>
                    <td colspan="2" style="padding:5px;">
                        <p th:text="@{|
                        Click the button below to add a new Disc App to your account. Please be advised there is
                        an account limit ${accountViewModel.getMaxDiscApps()} of Disc Apps per account. Once this
                        limit is reached, you must delete a an existing App to add any more.
                        |}">
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <input class="button" name="submit" type="submit" value="Create New Disc App">&nbsp;
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div th:unless="${accountViewModel.isBelowAppLimit()}">
        <p th:text="@{| Your account is currently at the max application limit of ${accountViewModel.getMaxDiscApps()}.
                        Please delete an existing Disc App if you would like to create a new one.|}">
        </p>
    </div>
</div>

<div class="grey_box" style="width:40em;" th:if="${accountViewModel.isOwner()}">

    <h2 id="application_banner">Modify Application Information</h2>

    <div th:each="accountApplication : ${accountViewModel.getAccountApplications()}">
        <hr/>
        <form name="app_form" action="/account/modify/application"
              method="post" th:object="${accountViewModel}">
            <table>
                <tr>
                    <td>
                        <label>Application Index:</label>
                    </td>
                    <td class="value-label" th:text="${accountApplication.getApplicationId()}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Application Name:</label>
                    </td>
                    <td>
                        <input class="button" type="text" id="modifyAccountApplicationName" name="applicationName"
                               th:value="${accountApplication.getApplicationName()}" maxlength="200"
                               style="width:100%;"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Status:</label>
                    </td>
                    <td>
                        <select name="applicationStatus" class="button" style="border:1px solid black;width:100%;">
                            <option th:selected="${accountApplication.isSelectedApplicationStatus('enabled')}"
                                    value="enabled">Enabled
                            </option>
                            <option th:selected="${accountApplication.isSelectedApplicationStatus('disabled')}"
                                    value="disabled">Disabled
                            </option>
                            <option th:selected="${accountApplication.isSelectedApplicationStatus('delete')}"
                                    value="delete" onclick="alert('Warning: Saving changes after selecting this option will permanently delete this Disc App as well as all associated threads. This action is not reversible!');">Delete
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding:5px;">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <input type="hidden" name="applicationId" id="applicationId"
                               th:value="${accountApplication.getApplicationId()}"/>
                        <input class="button" name="submit" type="submit" value="Save Changes">&nbsp;
                        <input class="button" name="reset" type="reset">
                    </td>
                </tr>
                <tr th:if="${accountApplication.getApplicationStatus().equals('enabled')}">
                    <td colspan="2" style="padding:5px;">
                        <a th:href="@{|/admin/disc-maint.cgi?id=${accountApplication.getApplicationId()}|}">
                            Click Here To Modify Disc Application Settings</a>
                    </td>
                </tr>
                <tr th:unless="${accountApplication.getApplicationStatus().equals('enabled')}">
                    <td colspan="2" style="padding:5px;">
                        Disc App must be enabled to further modify application settings.
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<table>
    <tr>
        <td colspan="2" style="text-align:center;">
            <a href="/account/modify" type="text">Click Here to Return to Account Modify Page</a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center;">
            <a href="/logout">Log out</a>
        </td>
    </tr>
</table>

</body>