<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Abuse Database</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <style type="text/css">
    /* div.grey_box div.offset {margin-left:2em; margin-top:3px; padding-bottom:1em; margin-bottom:1em; font-size:smaller; text-align:left; border-bottom: 1px solid #444;} */
    div.checkboxes{ text-align:left; width:22em; margin:auto; }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
</head>
<body>

<div th:if="${abuseViewModel.getInfoMessage()}"
     class="grey_box alert alert-success"
     style="width:40em;"
     th:text="${abuseViewModel.getInfoMessage()}">
</div>

<div th:if="${abuseViewModel.getErrorMessage()}"
     class="grey_box alert alert-error"
     style="width:40em;"
     th:text="${abuseViewModel.getErrorMessage()}">
</div>

<form method="get" action="/abuse/abuse-search.cgi" enctype="multipart/form-data" th:object="${abuseViewModel}">

    <div style="height:25px;padding-bottom:20px;">
        <input class="button" style="padding:5px;" type="submit" name="searchForm" value="Search Again" />
        <input class="button" style="padding:5px;" type="button" value="Return to previous page" onclick="history.back()">
    </div>

    <table border="1" style="display:inline-block;">
        <tr>
            <td><b>DiscApp ID #</b></td>
            <td th:text="${abuseViewModel.getDiscAppId()}"></td>
        </tr>
        <tr>
            <td><b>Article ID #</b></td>
            <td th:text="${abuseViewModel.getThreadId()}"></td>
        </tr>
        <tr>
            <td><b>Author</b></td>
            <td th:text="${abuseViewModel.getSubmitter()}"></td>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td th:text="${abuseViewModel.getEmail()}"></td>
        </tr>
        <tr>
            <td><b>IP</b></td>
            <td>
                <a th:href="@{|${abuseViewModel.getWhoIsUrl()}${abuseViewModel.getIpAddress()}|}" target="_blank" th:text="${abuseViewModel.getIpAddress()}"></a>
            </td>
        </tr>
        <tr>
            <td><b>Date</b></td>
            <td th:text="${abuseViewModel.getCreateDt()}"></td>
        </tr>
        <tr>
            <td><b>Subject</b></td>
            <td th:text="${abuseViewModel.getSubject()}"></td>
        </tr>
    </table>
    <p th:text="${abuseViewModel.getMessage()}"></p>
</form>

</body>
</html>