<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Error Page</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<div class="grey_box">

    An error occurred processing your request:

    <h3 th:text="@{|Status Code: ${errorStatusCode}|}"></h3>
    <div th:text="${errorText}"></div>
    <br/>

    <form method="post" action="/error">
        <input class="button" type="button" value="Click here to return to previous page" onclick="history.back()"/>
        &nbsp;
        <input class="button" type="submit" name="returnToHomePage" value="Click here to return to the home page" />
    </form>

</div>

</body>
</html>