<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Not Found</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="grey_box">
    <div style="padding:1em;">
        The disc app you requested does not exist. Please check the index number and try again.
    </div>
    <div style="padding:1em;" th:text="${errorText}"></div>
    <div>
        <br/>
        <form method="post" action="/error">
            <input class="button" onclick="history.back()" type="button" value="Click here to return to previous page">
            &nbsp;
            <input class="button" type="submit" name="returnToHomePage" value="Click here to return to the home page" />
        </form>
    </div>
</div>
</body>
</html>