<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Not Found</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<div class="grey_box">

    <div>
        You do not have permission to access this forum.
    </div>

    <div th:text="${errorText}"></div>

    <div>
        <br/>
        <form action="/logout" method="post">
            <input class="button" type="submit" value="Click here to Log Out">
            <input class="button" onclick="history.back()" type="button" value="Click here to return to previous page">
        </form>
    </div>

</div>

</body>
</html>