<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Create Account</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<div class="grey_box" style="width:50em;">
    <h1 class="alert-success" id="banner">Account Registration Email Sent To Your Email Account</h1>
    <h4>
        A registration email has been sent to your email address to activate your account. Please follow the
        instructions in the email to enable your account.
    </h4>
    <div>
        <a href="/">Return to home page</a>
    </div>
</div>

</body>
</html>