<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Create Account</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<!--style type="text/css">
    .alert-error {
        color: red;
    }

    .alert-success {
        color: green;
    }
</style-->

<div class="grey_box" style="width:40em;">
    <h1 class="alert-success" id="banner">Successfully created new account.</h1>
    <h4>You will receive an email at the provided email address when you account is activated.</h4>
    <div>
        <a href="/login">Click Here to Log In</a>
    </div>
</div>

</body>
</html>