<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Create Account</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<!-- TODO : to be styled correctly in later ticket -->
<style type="text/css">
    .alert-error {
        color: red;
    }

    .alert-success {
        color: green;
    }

</style>

<center>
    <h1 class="alert-success" id="banner">Successfully created new account.</h1>
    <div>
        <a href="/login">Click Here to Log In</a>
    </div>
</center>

</body>
</html>