<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Create Account</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : '6Lcy7LcUAAAAAEX5j1QoCUpgM3tViv6oHdUCBkTV'
        });
      };

    function validateReCaptcha() {
        var response = grecaptcha.getResponse();
        if (response.length === 0) {
            alert('ReCaptcha is not valid.');
            return false;
        } else {
            document.getElementById("reCaptchaResponse").value = response;
            return true;
        }
    }
    </script>

</head>
<body>

<div class="grey_box" style="width:40em;">
    <h1 id="banner">Create Disc App Account</h1>
    <form name="f" th:action="@{/account/create}" method="post" th:object="${accountViewModel}" onsubmit="return validateReCaptcha();">
        <input type="hidden" id="reCaptchaResponse" name="reCaptchaResponse">
        <p>
            Please fill out the form below to create a new account. New accounts are required to have a distinct email address
            and Disc App display name (name displayed on forum posts). Display names can be changed later after your account
            is created using the modify account page. Passwords are required to be <b>at least</b> eight
            characters in length.
        </p>
        <table>

            <div th:if="${accountViewModel.getErrorMessage()}" class="alert alert-error" style="margin:5px;" th:text="${accountViewModel.getErrorMessage()}">
            </div>

            <tr>
                <td><label>Email:</label></td>
                <td><input type="email" id="email" name="email" th:value="${accountViewModel.getEmail()}" maxlength="250"></td>
            </tr>

            <tr>
                <td><label>User Display Name:</label></td>
                <td><input maxlength="50" type="text" id="username" name="username" th:value="${accountViewModel.getUsername()}"/></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input type="password" id="password" name="password" ></td>
            </tr>

            <tr>
                <td><label>Confirm Password:</label></td>
                <td><input type="password" id="confirmPassword" name="confirmPassword"></td>
            </tr>

            <tr>
                <td><label>Show Email:</label></td>
                <td>
                    <input type="checkbox" name="showEmail" th:checked="${showEmail}"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="html_element" style="display:inline-block;"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input class="button" id="submitButton" name="submit" type="submit" value="Create Account" onclick="var e=this;setTimeout(function() {e.disabled=true;e.value='Please wait...';}, 0); return true;">
                    &nbsp;
                    <input class="button" name="reset" type="reset">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a th:href="@{|/login|}">Return to Login Page</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a href="#" onclick="history.back()" type="text">Click Here to Return to Previous Page</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a href="/">Click Here to Return to Home Page</a>
                </td>
            </tr>
        </table>
    </form>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>

</div>

</body>
</html>