<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Modify Account</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<div th:if="${accountViewModel.getInfoMessage()}"
     class="grey_box alert alert-success"
     style="width:40em;"
     th:text="${accountViewModel.getInfoMessage()}">
</div>

<div th:if="${accountViewModel.getErrorMessage()}"
     class="grey_box alert alert-error"
     style="width:40em;"
     th:text="${accountViewModel.getErrorMessage()}">
</div>

<div class="grey_box" style="width:40em;">
    <h2 id="account_banner">Modify Account</h2>
    <hr/>
    <form name="f" action="/account/modify/account"
          method="post" th:object="${accountViewModel}">
        <table>
            <tr>
                <td><label>Email Address:</label></td>
                <td class="value-label" th:text="${accountViewModel.getEmail()}"></td>
            </tr>

            <tr>
                <td><label>Member Since:</label></td>
                <td class="value-label" th:text="${accountViewModel.getCreateDt()}"></td>
            </tr>
            <tr>
                <td><label>Last Modified:</label></td>
                <td class="value-label" th:text="${accountViewModel.getModDt()}"></td>
            </tr>

            <tr>
                <td><label>User Display Name:</label></td>
                <td><input class="button" type="text" id="username" name="username"
                           th:value="${accountViewModel.getUsername()}" maxlength="50"/></td>
            </tr>

            <tr>
                <td><label> Show Email:</label></td>
                <td>
                    <input type="checkbox" name="showEmail" th:checked="${accountViewModel.isShowEmail()}"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding:5px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input class="button" name="submit" type="submit" value="Save Changes">&nbsp;
                    <input class="button" name="reset" type="reset">
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="grey_box" style="width:40em;">
    <h2 id="add_application_banner">Manage Applications</h2>
    <hr/>
    <div>
        <form name="f" action="/account/application" method="get">
            <table>
                <tr>
                    <td colspan="2" style="padding:5px;">
                        <p>
                            Click the button below to create a new Disc App or manage existing Disc Apps associated
                            with your account.

                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <input class="button" name="submit" type="submit" value="Manage Disc Apps">&nbsp;
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div th:if="${not #lists.isEmpty(accountViewModel.getModeratingApplications())}" class="grey_box" style="width:40em;">
    <h2 id="moderate_application_banner">Applications You Moderate</h2>
    <hr/>

    <div>
        <table class="accounts_moderated">
            <tr class="accounts_moderated_header">
                <th class="accounts_moderated">
                    Application Name
                </th>
                <th class="accounts_moderated">
                    Editor URL
                </th>
            </tr>
            <tr class="accounts_moderated"
                th:each="moderatingApplication : ${accountViewModel.getModeratingApplications()}">
                <td class="accounts_moderated" th:text="${moderatingApplication.getApplicationName()}">
                </td>
                <td class="accounts_moderated">
                    <a th:href="${accountViewModel.getBaseEditorUrl() + moderatingApplication.getApplicationId()}"
                       th:text="${accountViewModel.getBaseEditorUrl() + moderatingApplication.getApplicationId()}"
                       target="_blank">
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="grey_box" style="width:40em;" th:if="${accountViewModel.isOwner()}">
    <h2 id="owner_banner">Modify Application Owner Information</h2>
    <hr/>
    <form name="app_form" action="/account/modify/owner"
          method="post" th:object="${accountViewModel}">
        <table>
            <tr>
                <td>
                    <label>First Name:</label>
                </td>
                <td>
                    <input class="button" type="text" id="ownerFirstName" name="ownerFirstName"
                           th:value="${accountViewModel.getOwnerFirstName()}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Last Name:</label>
                </td>
                <td>
                    <input class="button" type="text" id="ownerLastName" name="ownerLastName"
                           th:value="${accountViewModel.getOwnerLastName()}"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding:5px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input class="button" name="submit" type="submit" value="Save Changes">&nbsp;
                    <input class="button" name="reset" type="reset">
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="grey_box" style="width:40em;">

    <!--div style="text-align:left;"-->

    <h2 id="timezone_banner">Modify Local Time Zone Information</h2>
    <hr/>
    <form name="app_form" action="/account/modify/locale"
          method="post" th:object="${accountViewModel}">
        <table>
            <tr>
                <td style="text-align:right;">
                    <label for="selectedTimezone">Local Time Zone:</label>
                </td>
                <td style="text-align:left;">
                    <select id="selectedTimeZone" name="selectedTimeZone" class="button"
                            style="border:1px solid black;">
                        <option th:each="timeZone : ${accountViewModel.getTimeZones()}"
                                th:value="${timeZone}"
                                th:text="${timeZone}"
                                th:selected="${accountViewModel.isCurrentTimeZone(timeZone)}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">
                    <label for="userTimeZoneEnabled">Use Local Time Zone:</label>
                </td>
                <td style="text-align:left;">
                    <select id="userTimeZoneEnabled" name="userTimeZoneEnabled" class="button"
                            style="border:1px solid black;">
                        <option th:selected="${accountViewModel.isUserTimeZoneEnabled()}"
                                value="true">Enabled
                        </option>
                        <option th:selected="${!accountViewModel.isUserTimeZoneEnabled()}"
                                value="false">Disabled
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding:5px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input class="button" name="submit" type="submit" value="Save Changes">
                    <input class="button" name="reset" type="reset">
                </td>
            </tr>
        </table>
    </form>
    <br/>
    <br/>
    By default, your account will use the time zone configuration specified by the Disc App
    that you are visiting. You can use the above settings to enable the use of your local
    time zone instead. When this setting is enabled, all message dates and times will be in the
    time zone selected above regardless of which Disc App you are currently using.
</div>


<div class="grey_box" style="width:40em;">
    <h2 id="password_change_banner">Change Account Password</h2>
    <hr/>
    <form name="f" action="/account/modify/password"
          method="post" th:object="${accountViewModel}">
        <table>

            <tr>
                <td><label>Current Password: </label></td>
                <td><input class="button" type="password" name="password" th:value="${accountViewModel.getPassword()}"/>
                </td>
            </tr>
            <tr>
                <td><label>New Password: </label></td>
                <td><input class="button" type="password" name="newPassword"
                           th:value="${accountViewModel.getNewPassword()}"/></td>
            </tr>
            <tr>
                <td><label>Confirm New Password:</label></td>
                <td><input class="button" type="password" name="confirmPassword"
                           th:value="${accountViewModel.getConfirmPassword()}"/></td>
            </tr>
            <tr>
                <td colspan="2" style="padding:5px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input class="button" name="submit" type="submit" value="Change Password">&nbsp;
                    <input class="button" name="reset" type="reset">
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="grey_box" style="width:40em;">
    <h2 id="user_read_threads_banner">Read Thread History</h2>
    <hr/>
    <!-- todo : move inline style tags to css -->

    <div th:if="${not #lists.isEmpty(accountViewModel.getUserReadThreadApplications())}">
        <p>
            Clicking the reset links below will reset any viewed threads you've accessed on that DiscApp back to unread.
            Doing so
            will reset any account side visited thread history. Note that browser based visited link styling will
            not be affected and you will need to clear your browser history separately.
        </p>
        <table style="border:1px solid black;border-collapse:collapse;">
            <tr style="color:white;background:#99e;">
                <th style="text-align:center;padding:10px;border:1px solid black;">
                    Application Name
                </th>
                <th style="text-align:center;padding:10px;border:1px solid black;">

                </th>
            </tr>
            <tr th:each="readThreadApp : ${accountViewModel.getUserReadThreadApplications()}"
                style="text-align:left;">
                <td th:text="${readThreadApp.getName()}"
                    style="border:1px solid black;padding:10px;">
                </td>
                <td style="border:1px solid black;padding:10px;">
                    <a th:href="@{|/account/modify/read/reset?appId=${readThreadApp.getId()}|}">
                        Reset
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div th:unless="${not #lists.isEmpty(accountViewModel.getUserReadThreadApplications())}">
        <p>
            You currently do not have any read thread history to reset.
        </p>
    </div>
    <hr/>
    <p th:if="${accountViewModel.isReadTrackingEnabled()}" style="text-align:center;">
        <a href="/account/modify/read/disable">
            Click here to disable read thread history</a>
        <br/>
        <br/>
        By disabling this feature, no new threads will be added to your read thread history.
    </p>
    <p th:unless="${accountViewModel.isReadTrackingEnabled()}" style="text-align:center;">
        <a href="/account/modify/read/enable">Click here to enable read thread history</a>
        <br/>
        <br/>
        By enabling this feature, the threads you read on each DiscApp will be marked as read when you read
        them.
    </p>
</div>

<div class="grey_box" style="width:40em;">
    <h2 id="delete_account_banner">Delete Account</h2>
    <hr/>
    <form name="f" action="/account/delete" method="get">
        <table>
            <tr>
                <td colspan="2" style="padding:5px;">
                    <p>
                        Click the button below to delete your Disc App account. Any Disc Apps associated with your
                        account will also be deleted and no longer accessible. Please contact us before you delete
                        your account if you would like to transfer ownership of your Disc App to another account.
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input class="button" name="submit" type="submit" value="Delete Account">&nbsp;
                </td>
            </tr>
        </table>
    </form>
</div>

<table>
    <tr>
        <td colspan="2" style="text-align:center;">
            <a href="/logout">Log out</a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center;">
            <a href="#" onclick="history.back()" type="text">Click Here to Return to Previous Page</a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center;">
            <a href="/">Click Here to Return to Home Page</a>
        </td>
    </tr>
</table>

</body>
</html>