<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Create Account</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<style type="text/css">
    .alert-error {
        color: red;
    }

    .alert-success {
        color: green;
    }

</style>

<div class="grey_box" style="width:40em;">
    <h1 id="banner">Password Reset</h1>
    <div style="padding:10px;">
        Please enter all the necessary information below as well as the password reset code that was in your email.
        <br />
        <br />
        <b><u>Note:</u></b> Password reset request are only valid for <b>one hour</b>. After one hour has expired, you
        will need to submit a new password reset request to reset your password.
    </div>
    <form name="f" th:action="@{|/password/reset/${resetKey}|}" method="post">
        <table>
            <div th:if="${errorMessage}" class="alert alert-error" th:text="${errorMessage}">
            </div>

            <tr>
                <td><label>Email:</label></td>
                <td><input type="email" id="email" name="email" maxlength="250" th:value="${email}"></td>
            </tr>
            <tr>
                <td><label>New Password:</label></td>
                <td><input type="password" id="password" name="password" ></td>
            </tr>

            <tr>
                <td><label>Confirm New Password:</label></td>
                <td><input type="password" id="confirmPassword" name="confirmPassword"></td>
            </tr>
            <tr>
                <td><label>Password Reset Code:</label></td>
                <td><input type="text" id="resetCode" name="resetCode" maxlength="250" th:value="${resetCode}"></td>
            </tr>
            <tr>
                <td colspan="2" style="padding:5px;">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input class="button" name="submit" type="submit" value="Reset Password">&nbsp;
                    <input class="button" name="reset" type="reset">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding:10px;">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a th:href="@{|/login?redirect=${redirectUrl}|}">Return to Login Page</a>
                </td>
            </tr>
        </table>
    </form>

</div>

</body>
</html>