<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<!--style-- type="text/css">
    .alert-error {
        color: red;
    }

    .alert-success {
        color: green;
    }
</style-->

<div class="grey_box" style="width:40em;">
    <h1 id="banner">Password Reset</h1>
    <h4 th:text="${status}" style="padding:15px;"></h4>
    <div>
        <a href="/login">Click Here to return to Log In page</a>
    </div>
</div>

</body>
</html>