<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<div class="grey_box" style="width:40em;">
    <h1 id="banner">Password Reset</h1>
    <h4 th:text="${status}" style="padding:15px;"></h4>
    <div th:if="${adminLogInUrl}">
        <a th:href="${adminLogInUrl}">Click Here to Log In to Your Disc App Admin Page.</a>
    </div>
    <div th:unless="${adminLogInUrl}">
        <a href="/login">Click Here to Return to Log In Page</a>
    </div>
    <br />
    <div>
        <a href="/">Click Here to Return to Home Page</a>
    </div>
</div>

</body>
</html>