<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Reset Disc App Admin Password</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : '6Lcy7LcUAAAAAEX5j1QoCUpgM3tViv6oHdUCBkTV'
        });
      };

    function validateReCaptcha() {
        var response = grecaptcha.getResponse();
        if (response.length === 0) {
            alert('ReCaptcha is not valid.');
            return false;
        } else {
            document.getElementById("reCaptchaResponse").value = response;
            return true;
        }
    }
    </script>

</head>
<body>

<div class="grey_box" style="width:40em;">
    <h1 id="banner">Request DiscApp Admin Password Reset</h1>
    <div style="padding:10px;">
        If you have forgotten your Disc App Admin password, please enter your owner email address below as well
        as the DiscApp indices number you want to reset the password for.
        Once submitted, an email will be sent to your owner email address with the steps necessary
        to complete the password reset process. If you need to reset your regular user password, please
        <a href="/account/password">use this form to do so.</a>
    </div>
    <form name="f" th:action="@{/account/discpassword}" method="post" onsubmit="return validateReCaptcha();">
        <input type="hidden" id="reCaptchaResponse" name="reCaptchaResponse">
        <table>
            <tr>
                <td><label>Disc App Indices Number:</label></td>
                <td><input type="text" id="appId" name="appId" maxlength="250"></td>
            </tr>
            <tr>
                <td><label>Owner Email:</label></td>
                <td><input type="email" id="email" name="email" maxlength="250"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="html_element" style="display:inline-block;"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding:5px;">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input class="button" name="submit" type="submit" value="Request Password Reset">&nbsp;
                    <input class="button" name="reset" type="reset">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding:10px;">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a th:href="@{|/login|}">Return to Login Page</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a href="#" onclick="history.back()" type="text">Click Here to Return to Previous Page</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <a href="/">Click Here to Return to Home Page</a>
                </td>
            </tr>
        </table>
    </form>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>
</div>

</body>
</html>