<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <p th:text="'Hello, ' + ${name} + '!'" />

    <h1>Test Debug Page</h1>
    <br />
    <br />
    <h2>Configurations</h2>
    <p th:text="${configs}"/>

    <br />
    <br />
    <h2>Owners</h2>
    <p th:text="${owners}"/>

    <br />
    <br />
    <h2>Applications</h2>
    <p th:text="${apps}"/>

</body>
</html>