<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:th="http://www.thymeleaf.org"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
    <url th:if="${not #lists.isEmpty(siteMapModel.getSiteMapItems())}"
         th:each="item : ${siteMapModel.getSiteMapItems()}">
        <loc th:text="${item.getUrl()}"></loc>
        <lastmod th:text="${item.getLastModified()}"></lastmod>
    </url>
</urlset>
