<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${appName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{|~/styles/disc_${appId}.css|}"/>

    <style type="text/css">
<!--/* <![CDATA[ */

ul {margin-top:0; padding-top:1px; margin-bottom:0;}
li.nested_list { list-style-type:none; display:inline; }
div.message_and_thread li.message_entry { margin-top:1em; }

/* li { margin-top: 1ex } */

div.message_preview { width:30em; }


/* ]]> */-->

    </style>

</head>
<body>

<p th:text="${error}"/>

<div th:utext="${headerText}"></div>

<div th:replace="indices/fragments/prologue :: prologue">
    static prototyping placeholder
</div>

<form method="get" th:action="@{|/createThread?disc=${appId}|}" th:object="${newthread}" enctype="multipart/form-data">
    <input type="hidden" name="disc" th:value="${appId}"/>
    <div id="post_button" style="text-align:center; margin-top:1em;">
        <input type="submit" class="button" th:value="${postMessageButtonText}" id="postarticle" style/>
    </div>
</form>

<div th:replace="indices/fragments/threads :: threads">
    static thread prototyping placeholder
</div>

<div th:replace="indices/fragments/epilogue :: epilogue">
    static prototyping placeholder
</div>

<a th:href="@{|~/disc-maint.cgi?id=${appId}|}" th:text="@{|${appName} Admin Page|}"></a>

<div th:utext="${footerText}"></div>
</body>
</html>