<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="${appName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{|~/styles/disc_${appId}.css|}"/>

    <style type="text/css">
         <!--/* <![CDATA[ */
            ul {margin-top:0; padding-top:1px; margin-bottom:0;}
            li.nested_list { list-style-type:none; display:inline; }
            div.message_and_thread li.message_entry { margin-top:1em; }

            /* li { margin-top: 1ex } */

            div.message_preview { width:30em; }


            /* ]]> */-->

    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
</head>
<body>
<div id="body">

    <div th:utext="${headerText}"></div>

    <form method="post" th:action="@{|~/postThread?disc=${appId}|}" th:object="${newThreadViewModel}"
          enctype="multipart/form-data"  action="submit">

        <input type="hidden" name="appId" th:value="${appId}"/>
        <input type="hidden" name="parentId" th:value="${parentThreadId}"/>
        <div class="post_message_form">
            <table>
                <tr>
                    <td class="entries_header" th:text="${submitterLabel}"></td>
                    <td><input type="text" name="submitter" size="30" maxlength="50" th:value="${submitter}"/> <a
                            href="https://yourwebapps.com/Accounts/login.cgi?return_url=http%3A%2F%2Fdisc.yourwebapps.com%2Fdiscussion.cgi%3Fdisc%3D46108%3Barticle%3D0;return_label=N.E.M.B.%20">login</a>
                    </td>
                </tr>

                <tr>
                    <td class="entries_header" th:text="${emailLabel}"></td>
                    <td>
                        <input type="text" name="email" size="30" maxlength="60" th:value="${email}"/>
                        <label><input type="checkbox" name="showEmail" th:checked="${showEmail}"/>Show email address?</label>
                    </td>
                </tr>

                <tr>
                    <td class="entries_header" th:text="${subjectLabel}"></td>
                    <td><input type="text" name="subject" size="30" maxlength="60" th:value="${subject}"/></td>
                </tr>
            </table>

            <div id="message_text_entry_box">
                <div><span class="entries_header" th:text="${bodyLabel}">  (16 KB max)</span></div>
                <div><textarea name="body" rows="12" cols="60" wrap="soft" th:utext="${body}" maxlength="16384"></textarea></div>
            </div>

            <input type="hidden" name="postcode" value="20zs7YlBa7nf."/>

            <div class="buttons">
                <input type="submit" name="previewArticle" th:value="${previewButtonText}" class="button"
                       id="previewArticle" style/>
                <input type="submit" name="submitNewThread" th:value="${postButtonText}" class="button"
                       id="submitNewThread" style/>
                <input type="hidden" name="postpostarticle" value="1"/>
                <input type="submit" name="returnToApp" th:value="${returnButtonText}" class="button" id="returnToApp"
                       style/>
            </div>
        </div>

        <div th:utext="${footerText}"></div>

    </form>
</div>
</body>
</html>

