<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="${appName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{|~/styles/disc_${newThreadViewModel.getAppId()}.css|}"/>

    <style type="text/css">
         <!--/* <![CDATA[ */
            ul {margin-top:0; padding-top:1px; margin-bottom:0;}
            li.nested_list { list-style-type:none; display:inline; }
            div.message_and_thread li.message_entry { margin-top:1em; }

            /* li { margin-top: 1ex } */

            div.message_preview { width:30em; }


            /* ]]> */-->

    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
</head>
<body>
<div id="body">

    <div th:utext="${headerText}"></div>

    <div class="message_and_thread">

        <div class="message">

            <div class="headers">
                <div class="header"><span class="author_header" name="submitter" th:text="${newThreadViewModel.getSubmitter()}"></span>
                </div>
                <div class="header"><span class="email_header" name="email" th:text="${newThreadViewModel.getEmail()}"></span></div>
                <div class="header"><span class="subject_header" name="subject" th:text="${newThreadViewModel.getSubject()}"></span></div>
            </div>
            <br>
            <div class="message_text" name="formatted_body" th:utext="${newThreadViewModel.getHtmlBody()}"></div>
            <br>
            <div class="buttons">

                <form method="post" th:action="@{|/createThread?disc=${appId}|}" th:object="${newThreadViewModel}" enctype="multipart/form-data" action="submit">

                    <input type="hidden" name="submitter" th:value="${newThreadViewModel.getSubmitter()}"/>
                    <input type="hidden" name="email" th:value="${newThreadViewModel.getEmail()}"/>
                    <input type="hidden" name="subject" th:value="${newThreadViewModel.getSubject()}"/>
                    <input type="hidden" name="body" th:value="${newThreadViewModel.getBody()}"/>
                    <input type="hidden" name="parentId" th:value="${newThreadViewModel.getParentId()}"/>
                    <input type="hidden" name="disc" th:value="${newThreadViewModel.getAppId()}"/>
                    <input type="hidden" name="showEmail" th:value="${newThreadViewModel.isShowEmail()}"/>
                    <input type="hidden" name="parentThreadSubmitter" th:value="${newThreadViewModel.getParentThreadSubmitter()}"/>
                    <input type="hidden" name="parentThreadSubject" th:value="${newThreadViewModel.getParentThreadSubject()}"/>
                    <input type="hidden" name="parentThreadBody" th:value="${newThreadViewModel.getParentThreadBody()}"/>

                    <input type="submit" name="editMessage" th:value="${editButtonText}" class="button" id="editMessage" style="float:left;" />

                </form>


                <form method="post" th:action="@{|~/postThread?disc=${appId}|}" th:object="${newThreadViewModel}" enctype="multipart/form-data" action="submit">

                    <input type="hidden" name="submitter" th:value="${newThreadViewModel.getSubmitter()}"/>
                    <input type="hidden" name="email" th:value="${newThreadViewModel.getEmail()}"/>
                    <input type="hidden" name="subject" th:value="${newThreadViewModel.getSubject()}"/>
                    <input type="hidden" name="body" th:value="${newThreadViewModel.getBody()}"/>
                    <input type="hidden" name="parentId" th:value="${newThreadViewModel.getParentId()}"/>
                    <input type="hidden" name="disc" th:value="${newThreadViewModel.getAppId()}"/>
                    <input type="hidden" name="showEmail" th:value="${newThreadViewModel.isShowEmail()}"/>


                    <input type="submit" name="submitNewThread" th:value="${postButtonText}" class="button" id="submitNewThread"
                           style="float:left;"/>
                    <input type="submit" name="returnToApp" th:value="${returnButtonText}" class="button" id="returnToApp"
                           style="float:left;"/>
                </form>
            </div>
            <div style="clear:left;"></div>
        </div>


        <!--div class="responses" th:utext="${subThreadsHtml}"/-->


    </div>

    <div th:utext="${footerText}"></div>

    </form>
</div>

</body>
</html>

