<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${appName}"></title>
    <meta name="robots" content="index" />

    <link rel="shortcut icon" th:href="${faviconUrl}" type="image/x-icon">
    <link rel="icon" th:href="${faviconUrl}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{|~/styles/disc_${appId}.css|}"/>
    <style type="text/css">
         <!--/* <![CDATA[ */
            ul {margin-top:0; padding-top:1px; margin-bottom:0;}
            li.nested_list { list-style-type:none; display:inline; }
            div.message_and_thread li.message_entry { margin-top:1em; }

            /* li { margin-top: 1ex } */

            div.message_preview { width:30em; }


            /* ]]> */-->
      </style>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
</head>
<body>
<div id="body">

    <div th:utext="${headerText}"></div>

    <div class="search_results">

        <div th:utext="${searchResults}"></div>

        <form method="post" th:action="@{|~/search?disc=${appId}|}" enctype="multipart/form-data">
            <input type="hidden" name="appId" th:value="${appId}"  />
            <input type="text" name="searchTerm" th:value="${searchTerm}" />

            <input type="submit" name="searchAgain" value="Search Again" class="button" />

            <div class="buttons">
                <input type="submit" name="returnToApp" value="Return to Messages" class="button" id="returnToApp" style />
            </div>
        </form>

    </div>

    <div th:utext="${footerText}"></div>
</div>
</body>
</html>

