<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="${appName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="${styleSheetUrl}"/>
    <link rel="shortcut icon" th:href="${faviconUrl}" type="image/x-icon">
    <link rel="icon" th:href="${faviconUrl}" type="image/x-icon">

    <style type="text/css">
        ul {margin-top:0; padding-top:1px; margin-bottom:0;}
        li.nested_list { list-style-type:none; display:inline; }
        div.message_and_thread li.message_entry { margin-top:1em; }

        /* li { margin-top: 1ex } */

        div.message_preview { width:30em; }
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
</head>
<body>
<div id="body">

    <div th:utext="${headerText}"></div>

    <div class="message_and_thread">

        <div class="message">
            <div class="headers">

                <div th:if="${threadViewModel.isShowEmail()}" class="header">
                    <div th:if="${threadViewModel.getCurrentUsername()}">
                        <span class="tooltip author_header">
                            <a th:href="'mailto:' + ${threadViewModel.getEmail()}" th:utext="${threadViewModel.getSubmitter()}"></a>
                            <span class="tooltiptext" th:utext="@{|Current username:<br />${threadViewModel.getCurrentUsername()}|}"></span>
                        </span>

                    </div>

                    <div th:unless="${threadViewModel.getCurrentUsername()}">
                        <span class="author_header">
                            <a th:href="'mailto:' + ${threadViewModel.getEmail()}" th:utext="${threadViewModel.getSubmitter()}"></a>
                        </span>
                    </div>
                </div>
                <div th:unless="${threadViewModel.isShowEmail()}" class="header">
                    <div th:if="${threadViewModel.getCurrentUsername()}" class="tooltip">
                        <span class="tooltip author_header">
                            [[${threadViewModel.getSubmitter()}]]
                            <span class="tooltiptext" th:utext="@{|Current username:<br />${threadViewModel.getCurrentUsername()}|}"></span>
                        </span>

                    </div>

                    <div th:unless="${threadViewModel.getCurrentUsername()}">
                        <span class="author_header" th:utext="${threadViewModel.getSubmitter()}">
                        </span>
                    </div>
                </div>
                <div class="header"><span class="subject_header" th:utext="${threadViewModel.getSubject()}"></span></div>
                <div class="header"><span class="date_header" th:text="${threadViewModel.getCreateDt()}"></span></div>
                <div  th:if="${threadViewModel.isShowIpAddress()}"  class="header">
                    <span class="ip_header" th:text="${threadViewModel.getIpAddress()}"></span>
                </div>
            </div>
            <br>
            <div class="message_text" th:utext="${threadViewModel.getBody()}"></div>
            <br>
            <div class="buttons">
                <form method="post" th:action="@{|/discussion.cgi?disc=${threadViewModel.getAppId()}|}"
                      th:object="${threadViewModel}" enctype="multipart/form-data" action="submit">

                    <input type="hidden" name="disc" th:value="${threadViewModel.getAppId()}"/>
                    <input type="hidden" name="parentId" th:value="${threadViewModel.getParentId()}"/>
                    <input type="hidden" name="id" th:value="${threadViewModel.getId()}"/>
                    <input type="hidden" name="subject" th:value="${threadViewModel.getSubject()}"/>
                    <input type="hidden" name="submitter" th:value="${threadViewModel.getSubmitter()}"/>
                    <input type="hidden" name="body" th:value="${threadViewModel.getBody()}"/>
                    <input type="hidden" name="currentPage" th:value="${threadViewModel.getCurrentPage()}"/>

                    <input type="submit" name="postResponse" th:value="${replyButtonText}" class="button" id="postResponse"
                           style="float:left;"/>
                    <input type="submit" name="returnToApp" th:value="${returnButtonText}" class="button" id="returnToApp"
                           style="float:left;"/>
                </form>
            </div>
            <div style="clear:left;"></div>
        </div>

        <div class="responses" th:utext="${subThreadsHtml}">
        </div>

    </div>

    <div th:utext="${footerText}"></div>
</div>

</body>
</html>

