<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="${appName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{|~/styles/disc_${threadViewModel.getAppId()}.css|}"/>

    <style type="text/css">
         <!--/* <![CDATA[ */
            ul {margin-top:0; padding-top:1px; margin-bottom:0;}
            li.nested_list { list-style-type:none; display:inline; }
            div.message_and_thread li.message_entry { margin-top:1em; }

            /* li { margin-top: 1ex } */

            div.message_preview { width:30em; }


            /* ]]> */-->

    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
</head>
<body>
<div id="body">

    <div th:utext="${headerText}"></div>

    <div class="message_and_thread">

        <div class="message">
            <div class="headers">
                <div class="header"><span class="author_header" th:text="${threadViewModel.getSubmitter()}"></span></div>
                <div class="header"><span class="email_header" th:text="${threadViewModel.getEmail()}"></span></div>
                <div class="header"><span class="subject_header" th:text="${threadViewModel.getSubject()}"></span></div>
                <div class="header"><span class="date_header" th:text="${threadViewModel.getCreateDt()}"></span></div>
                <div class="header"><span class="ip_header" th:text="${threadViewModel.getIpAddress()}"></span></div>
            </div>
            <br>
            <div class="message_text" th:utext="${threadViewModel.getBody()}"></div>
            <br>
            <div class="buttons">
                <form method="post" th:action="@{|/discussion.cgi?disc=${threadViewModel.getAppId()}|}"
                      th:object="${threadViewModel}" enctype="multipart/form-data" action="submit">

                    <input type="hidden" name="disc" th:value="${threadViewModel.getAppId()}"/>
                    <input type="hidden" name="parent" th:value="${threadViewModel.getParentId()}"/>
                    <input type="hidden" name="id" th:value="${threadViewModel.getId()}"/>
                    <input type="submit" name="postResponse" th:value="${replyButtonText}" class="button" id="postResponse"
                           style="float:left;"/>
                    <input type="submit" name="returnToApp" th:value="${returnButtonText}" class="button" id="returnToApp"
                           style="float:left;"/>
                </form>
                <!-- todo : fix url... or remove this functionality... -->
                <form method="post"
                      action="http://www.addthis.com/bookmark.php?url=http%3A%2F%2Fdisc.yourwebapps.com%2Fdiscussion.cgi%3Fdisc%3D46108%3Barticle%3D21012&amp;title=N.E.M.B.%20%20-%20123456789012345678901234567890123456789012345678901234567890&amp;pub=brunnock"
                      enctype="multipart/form-data"><input type="submit" name="share"
                                                           th:value="${shareButtonText}" class="button"
                                                           id="share" style="float:left;"/></form>
            </div>
            <div style="clear:left;"></div>
        </div>

        <div class="responses" th:utext="${subThreadsHtml}"></div>

        <div style="font-size:smaller; padding-top:6px;"><a
                th:href="@{|http://disc.yourwebapps.com/disc-list-subscribe.cgi?id=${threadViewModel.getAppId()}|}">Click here to receive daily
            updates</a></div>
    </div>

    <div th:utext="${footerText}"></div>

    </form>
</div>

</body>
</html>

