<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Site Administration</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <style type="text/css">
        div.grey_box div.offset {margin-left:2em; margin-top:3px; padding-bottom:1em; margin-bottom:1em; font-size:smaller; text-align:left; border-bottom: 1px solid #444;}
        li {
            float:left;
            display:block;
            padding:5px;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
</head>
<body>

<div th:replace="site_admin/fragments/navigation :: navigation">
    static thread prototyping placeholder
</div>

<div th:if="${siteAdminAccountViewModel.getErrorMessage()}"
     class="grey_box alert alert-error"
     style="width:40em;"
     th:text="${siteAdminAccountViewModel.getErrorMessage()}">
</div>

<div th:if="${siteAdminAccountViewModel.getInfoMessage()}"
     class="grey_box alert alert-success"
     style="width:40em;"
     th:text="${siteAdminAccountViewModel.getInfoMessage()}">
</div>

<div class="grey_box">

    <p>
        Below is the list of current user accounts. User accounts that have been deleted
        will not show up in this list. As of now, if those accounts need administration, values must
        be modified in the database directly. Undeleting accounts requires more advanced
        changes than this account administration page currently offers.
    </p>

    <div style="text-align:center; padding:10px;">
        <a th:if="${siteAdminAccountViewModel.getUserType().equals('user')}">User Accounts</a>
        <a th:unless="${siteAdminAccountViewModel.getUserType().equals('user')}" href="/site_admin/accounts?type=user">User Accounts</a>
        |
        <a th:if="${siteAdminAccountViewModel.getUserType().equals('system')}">System Accounts</a>
        <a th:unless="${siteAdminAccountViewModel.getUserType().equals('system')}" href="/site_admin/accounts?type=system">System Accounts</a>
    </div>

    <TABLE border="1" style="width:100%; table-layout:fixed;">
        <tr>
            <th style="width:min-content;">Id</th>
            <th>Username</th>
            <th>Email</th>
            <th style="width:min-content;">Show Email</th>
            <th style="width:min-content;">Owner Id</th>
            <th style="width:min-content;">Enabled</th>
            <th style="width:min-content;">Admin</th>
            <th style="width:min-content;">User Account</th>
            <th style="width:max-content;">Last Login Date</th>
            <th style="width:max-content;">Create Date</th>
            <th style="width:max-content;">Mod Date</th>
        </tr>
        <tr th:if="${not #lists.isEmpty(siteAdminAccountViewModel.getUserList())}"
            th:each="user : ${siteAdminAccountViewModel.getUserList()}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td>
                <a
                   th:href="@{|/site_admin/account/showEmail?id=${user.getId()}&enabled=${!user.getShowEmail()}&type=${siteAdminAccountViewModel.getUserType()}|}"
                   th:text="@{|${user.getShowEmail()}|}">
                </a>
            </td>
            <td>
                <a th:if="${user.getOwnerId()}"
                   th:href="@{|/site_admin/owner?ownerId=${user.getOwnerId()}&type=${siteAdminAccountViewModel.getUserType()}|}"
                   th:text="@{|${user.getOwnerId()}|}">
                </a>
            </td>
            <td>
                <a th:href="@{|/site_admin/account/enabled?id=${user.getId()}&enabled=${!user.getEnabled()}&type=${siteAdminAccountViewModel.getUserType()}|}"
                   th:text="@{|${user.getEnabled()}|}">
                </a>
            </td>
            <td>
                <a th:href="@{|/site_admin/account/isAdmin?id=${user.getId()}&enabled=${!user.getIsAdmin()}&type=${siteAdminAccountViewModel.getUserType()}|}"
                   th:text="@{|${user.getIsAdmin()}|}">
                </a>
            </td>
            <td>
                <a th:href="@{|/site_admin/account/isUserAccount?id=${user.getId()}&enabled=${!user.getIsUserAccount()}&type=${siteAdminAccountViewModel.getUserType()}|}"
                   th:text="@{|${user.getIsUserAccount()}|}">
                </a>
            </td>
            <td th:text="${user.getLastLoginDate()}"></td>
            <td th:text="${user.getCreateDt()}"></td>
            <td th:text="${user.getModDt()}"></td>
        </tr>
    </TABLE>

</div>

</body>
</html>