<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Site Administration</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <style type="text/css">
        div.grey_box div.offset {margin-left:2em; margin-top:3px; padding-bottom:1em; margin-bottom:1em; font-size:smaller; text-align:left; border-bottom: 1px solid #444;}
        li {
            float:left;
            display:block;
            padding:5px;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
</head>
<body>

<div th:replace="site_admin/fragments/navigation :: navigation">
    static thread prototyping placeholder
</div>

<div th:if="${siteAdminThreadViewModel.getErrorMessage()}"
     class="grey_box alert alert-error"
     style="width:40em;"
     th:text="${siteAdminThreadViewModel.getErrorMessage()}">
</div>

<div th:if="${siteAdminThreadViewModel.getInfoMessage()}"
     class="grey_box alert alert-success"
     style="width:40em;"
     th:text="${siteAdminThreadViewModel.getInfoMessage()}">
</div>

<div class="grey_box">

    <p>
        Here you can restore any threads for all applications that were marked as deleted.
    </p>

    <TABLE border="1">
        <tr>
            <th>Id</th>
            <th>Application Id</th>
            <th>Submitter</th>
            <th>Email</th>
            <th>Ip Address</th>
            <th>Subject</th>
            <th>Show Email</th>
            <th>Parent Id</th>
            <th>DiscApp User Id</th>
            <th>User Agent</th>
            <th>Is Approved</th>
            <th>Create Date</th>
            <th>Mod Date</th>
            <th>Restore</th>
        </tr>
        <tr th:if="${not #lists.isEmpty(siteAdminThreadViewModel.getThreadList())}"
            th:each="thread : ${siteAdminThreadViewModel.getThreadList()}">
            <td th:text="${thread.getId()}"></td>
            <td th:text="${thread.getApplicationId()}"></td>
            <td th:text="${thread.getSubmitter()}"></td>
            <td th:text="${thread.getEmail()}"></td>
            <td th:text="${thread.getIpAddress()}"></td>
            <td th:text="${thread.getSubject()}"></td>
            <td th:text="${thread.isShowEmail()}"></td>
            <td th:text="${thread.getParentId()}"></td>
            <td th:if="${thread.getDiscAppUser() != null}" th:text="${thread.getDiscAppUser().getId()}"></td>
            <td th:unless="${thread.getDiscAppUser() != null}"></td>
            <td th:text="${thread.getUserAgent()}"></td>
            <td th:text="${thread.isApproved()}"></td>
            <td th:text="${thread.getCreateDt()}"></td>
            <td th:text="${thread.getModDt()}"></td>
            <td>
                <a th:href="@{|/site_admin/thread/restore?id=${thread.getId()}|}">
                    Restore
                </a>
            </td>
        </tr>
    </TABLE>
</div>

</body>
</html>