<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div id="site_navigation" th:fragment="site-navigation" class="grey_box" style="float:left;margin-top:10px;">
    <div>
        <h4>Navigation</h4>
        <ul>
            <li>
                <a th:if="${isLoggedIn}" href="/login">Log Out</a>
                <a th:unless="${isLoggedIn}" href="/login">Log In</a>
            </li>
            <li th:if="${isLoggedIn}"><a href="/account/modify">Modify Account Settings</a></li>
            <li><a href="/account/create">Create a New Account</a></li>
            <li><a href="/account/password">Reset Password</a></li>
            <li><a href="/indices/1">Help Forum</a></li>
        </ul>
        <br/>
        <form action="/search-apps" method="get">
            <input type="text" class="button" name="searchValue" th:value="${searchText}" style="padding-bottom: 5px;"/>
            <br />
            <input type="submit" class="button" name="searchApps" value="Search Apps"/>
        </form>

    </div>
</div>
</body>
</html>