<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Disc App - Home</title>
    <link rel="stylesheet" type="text/css" href="/styles/maint.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <style type="text/css">
    div.grey_box div.offset {margin-left:2em; margin-top:3px; padding-bottom:1em; margin-bottom:1em; font-size:smaller; text-align:left; border-bottom: 1px solid #444;}
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
</head>
<body>

<div class="grey_box" style="width:70%;margin:10px;display:inline-block;">
    <h1>
        Welcome to NE Disc App
    </h1>
    <div>
        <p>
            NE Disc App is a message board hosting service which was created as a replacement and tribute to the now closed
            YourWebApps discussion forums. After 20+ years, the original discussion app service was discontinued in
            October 2019. I decided to make a personal project to reverse engineer the original service and recreate it from
            scratch so that the legacy could live on for anyone interested.
        </p>
        <p>
            To the left you will find links for more information as well as helpful account related pages.
        </p>
    </div>

</div>

<div th:replace="home/fragments/site-navigation :: site-navigation">
    static thread prototyping placeholder
</div>

</body>
</html>