<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="edit-thread" th:fragment="edit-thread">

    <div th:if="${maintenanceThreadViewModel.isOnEditMessage() && !maintenanceThreadViewModel.isOnEditModifyMessage()}">
        <div style="padding-left:1em;">
            <input type="hidden" name="editArticleId" th:value="${maintenanceThreadViewModel.getEditArticleId()}"/>
            <input type="hidden" name="onEditMessage" th:value="${maintenanceThreadViewModel.isOnEditMessage()}"/>
            <input type="hidden" name="onEditModifyMessage"
                   th:value="${maintenanceThreadViewModel.isOnEditModifyMessage()}"/>
            <input type="hidden" name="pagemark" th:value="${maintenanceThreadViewModel.getPagemark()}"/>
            <div class="buttons" style="margin-bottom:1em;">
                <input type="submit" name="editArticle" value="Edit Message" class="button"/>
                <input type="submit" name="deleteArticles" value="Delete Message" class="button"/>
                <input type="submit" name="deleteArticlesAndReplies" value="Delete Message and Replies" class="button"/>
                <input type="submit" name="reportAbuse" value="Report as Abuse" class="button"/>
                <input type="submit" name="editArticleCancelEdit" value="Return to Messages" class="button"/>
            </div>
        </div>


        <table style="margin:1em; border-spacing:3px;">
            <tr th:if="${maintenanceThreadViewModel.getEditArticleCurrentUsername()}">
                <th>Account Username: </th>
                <td th:text="@{|${maintenanceThreadViewModel.getEditArticleCurrentUsername()} (UserId: ${maintenanceThreadViewModel.getEditArticleUserId()})|}">
                    <!-- TODO : add this for threads from accounts! span style="background-color:#8ff; padding:4px; margin-left:1em; font-size:smaller; ">Account ID:29139  <select
                        name="new_perm" class="button" style="border:1px solid black;">
<option value="r">Read</option>
<option value="rf">Reply</option>
<option selected="selected" value="rfp">Post</option>
<option value="rfph">Hold</option>
</select> <input type="submit" name="ChangePerm" value="Change Perm" class="button"/></span-->
                </td>
            </tr>
            <tr th:if="${maintenanceThreadViewModel.getEditArticleUserEmail()}">
                <th>Account Email</th>
                <td>
                    <a th:href="@{|mailto:${maintenanceThreadViewModel.getEditArticleUserEmail()}|}"
                       th:text="${maintenanceThreadViewModel.getEditArticleUserEmail()}"></a>
                </td>
            </tr>
            <tr>
                <th>Author</th>
                <td th:text="${maintenanceThreadViewModel.getEditArticleSubmitter()}">
                    <!-- TODO : add this for threads from accounts! span style="background-color:#8ff; padding:4px; margin-left:1em; font-size:smaller; ">Account ID:29139  <select
                        name="new_perm" class="button" style="border:1px solid black;">
<option value="r">Read</option>
<option value="rf">Reply</option>
<option selected="selected" value="rfp">Post</option>
<option value="rfph">Hold</option>
</select> <input type="submit" name="ChangePerm" value="Change Perm" class="button"/></span-->
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>
                    <a th:href="@{|mailto:${maintenanceThreadViewModel.getEditArticleEmail()}|}"
                       th:text="${maintenanceThreadViewModel.getEditArticleEmail()}"></a>
                </td>
            </tr>
            <tr>
                <th>Subject</th>
                <td th:text="${maintenanceThreadViewModel.getEditArticleSubject()}"></td>
            </tr>
            <tr>
                <th>Create Date</th>
                <td th:text="${maintenanceThreadViewModel.getEditArticleCreateDt()}"></td>
            </tr>
            <tr>
                <th>Modification Date</th>
                <td th:text="${maintenanceThreadViewModel.getEditArticleModDt()}"></td>
            </tr>
            <tr>
                <th>IP</th>
                <td th:text="${maintenanceThreadViewModel.getEditArticleIpAddress()}"></td>
            </tr>
            <!-- TODO : Add later tr>
                <th>User Agent</th>
                <td th:text="${maintenanceThreadViewModel.getEditArticleUserAgent()}">Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:65.0) Gecko/20100101 Firefox/65.0</td>
            </tr -->
        </table>
        <div><b>Message</b></div>
        <div style="padding-bottom:1em; border-bottom:1px dashed gray;"
             th:utext="${maintenanceThreadViewModel.getEditArticleMessage()}">
        </div>
        <div th:utext="${maintenanceThreadViewModel.getEditArticleReplyThreadsHtml()}"></div>
        <!--ul>
            <li><a href="disc-edit.cgi?id=46108;article=21048;pagemark=0;">Hm... Maybe that was the way it had to
                work?</a>
                <label for="checkbox_21048"><span style="font-size:smaller;"><span
                        style="font-style:italic; margin-left:1ex; margin-right:1ex;">Puckdropper</span> Wed Aug 14 14:19</span>
                </label>
            </li>
            <ul></ul>
        </ul-->
    </div>

    <div th:if="${maintenanceThreadViewModel.isOnEditModifyMessage() && maintenanceThreadViewModel.isOnEditMessage()}">
        <div style="padding-left:1em;">

            <input type="hidden" name="editArticleId" th:value="${maintenanceThreadViewModel.getEditArticleId()}"/>
            <input type="hidden" name="onEditMessage" th:value="${maintenanceThreadViewModel.isOnEditMessage()}"/>
            <input type="hidden" name="onEditModifyMessage"
                   th:value="${maintenanceThreadViewModel.isOnEditModifyMessage()}"/>
            <input type="hidden" name="editArticleCreateDt"
                   th:value="${maintenanceThreadViewModel.getEditArticleCreateDt()}"/>
            <input type="hidden" name="editArticleModDt"
                   th:value="${maintenanceThreadViewModel.getEditArticleModDt()}"/>
            <input type="hidden" name="editArticleIpAddress"
                   th:value="${maintenanceThreadViewModel.getEditArticleIpAddress()}"/>
            <input type="hidden" name="editArticleUserAgent"
                   th:value="${maintenanceThreadViewModel.getEditArticleUserAgent()}"/>
            <input type="hidden" name="editArticleReplyThreadsHtml"
                   th:value="${maintenanceThreadViewModel.getEditArticleReplyThreadsHtml()}"/>
            <input type="hidden" name="pagemark" th:value="${maintenanceThreadViewModel.getPagemark()}"/>

            <table style="margin:1em;">
                <tr>
                    <th>Author</th>
                    <td>
                        <input type="text" name="editArticleSubmitter"
                               th:value="${maintenanceThreadViewModel.getEditArticleSubmitter()}" size="30"/>
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        <input type="text" name="editArticleEmail"
                               th:value="${maintenanceThreadViewModel.getEditArticleEmail()}" size="30"/>
                    </td>
                </tr>
                <tr>
                    <th>Subject</th>
                    <td>
                        <input type="text" name="editArticleSubject"
                               th:value="${maintenanceThreadViewModel.getEditArticleSubject()}" size="30"/>
                    </td>
                </tr>
            </table>
            <div><b>Message</b></div>
            <div>
                <textarea name="editArticleMessage" rows="12" wrap="soft"
                          th:utext="${maintenanceThreadViewModel.getEditArticleMessage()}"></textarea>
            </div>

            <div class="buttons">
                <input type="submit" name="editArticleChangeMessage" value="Change Message" class="button"/>
                <input type="submit" name="editArticleCancelEdit" value="Cancel" class="button"/>
            </div>

        </div>
    </div>

</div>
</body>

</html>