body {
  color: #FFFFFF;
  background-color: #000000;
  font: small terminal;
  color:#9C9C9C;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: gray;
  color: #2eff00;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.message_error {
    color: red;
    font-weight: bold;
    text-align: center;
}

a:link {
	color:#2eff00;
}

a:visited {
	color:#1b9600;
};

.read {
    color: #1b9600;
}

a:hover {
    background-color: #2eff00;
    color: #000000;
    cursor: crosshair;
}

SPAN.new_message {
	background-color:gray;
}

.admin_post {
    color: #fff;
    background: #f00;
    padding: 2px;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
}
