
body { 	background-color:#ada;
	padding:1%;
	font-family:cursive;
}

img {
    max-width:100%;
    max-height:100%;
}


div#body {
   max-width:50em;
   margin:auto;
}

a:hover { background-color:#6f6; }

div.thread {
	text-align:left;
	margin-top:1em;
	padding-bottom:1em;
	border-bottom: 3px solid #833;
}

div.responses {
	font-size:80%;
	margin:1ex;
}


table#entries_table {
 width:100%;
 border-spacing: .6ex;
 margin-top:1em;
}

table#entries_table th {
}

table#entries_table tr.entry_row td {
  background-color: #8e8;
  padding:1ex;
}

div.first_message {
  text-align:left;
  font-size:smaller;
  width:70%;
  margin-left:5%;
  margin-top:2px;
}

div.buttons {
  margin-top:1ex;
}

input {
	font-family:cursive;
	padding:4px;
}

input.button {
  background-color:#dfd;
}

input.button:hover {
  background-color:#6f6;
}


a.new_message, span.new_message { background-color: #cfc;
				  padding:2px; }

body#widget {font-size:smaller; }
table#widget_table {margin:auto;}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: white;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.message_error {
    color: red;
    font-weight: bold;
    text-align: center;
}
