BODY {	margin: 3%;
	text-align: center;
	font-family: Courier;
	background-color: #CCC;
}

img {
    max-width:100%;
    max-height:100%;
}


INPUT { background-color: #b0b0b0;
        border: 2px #888 ridge;
	font-family: Courier;
	font-weight: bold;
	padding: 5px;
}

INPUT:HOVER { background-color: #ccc;
}

TEXTAREA { background-color: #b0b0b0;
        border: 2px #888 ridge;
	padding: 4px;
	width:90%;
	font-family: Courier;
}

A { color:#008;
  font-weight:bold;
}

A:VISITED { color:#a0a; }

a.read {
    color: #a0a;
}

A:HOVER {  background-color:#EE0;  }

UL {	list-style-position: outside;
	list-style-type:  none;
	padding:0;
	margin:0;
}

UL UL { margin-left:2em;  }

DIV.prologue {	text-align: left;
	width: 70%;
        margin-left: auto;
        margin-right: auto;
	margin-bottom: 1em;
}

DIV.epilogue {	text-align: left;
	width: 70%;
        margin-left: auto;
        margin-right: auto;
}

#entries_table { margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
	width: 70%;
}

table#widget_table { margin:auto; }

TH.entries_header {	padding: 5px;
	border: 2px ridge #888;
	font-family: Courier;
	background-color: #b0b0b0;
}

td.entries_header { text-align: right; font-weight:bold;}

tr.entry_row {	background-color: #b0b0b0;   }
tr.entry_row td { padding:1ex; }
td.link_cell {	text-align: left;   }


DIV.first_message {
	font-size: 80%;
	width: 80%;
	text-align: left;
	margin-left: 1em;
	margin-bottom: 1em;
}

DIV.first_message_header {	padding: 5px;
	margin-bottom: .5em;
	background-color: #b0b0b0;
	font-weight: bold;
}

DIV.thread {	width: 75%;
	border: 2px ridge gray;
	margin:1em;
        margin-left: auto;
        margin-right: auto;
	text-align: left;
}

DIV.responses {
	border-top: 1px solid #444;
	padding:1ex;
	margin: 1ex;
}

DIV.message_and_thread DIV.responses UL {	margin-left:1em;  }

DIV.message_and_thread DIV.responses LI.message_entry {
 border: 2px ridge gray;
 background-color:#c0c0c0;
 margin-top: .75em;
 width: 30em;
 padding: 1ex;
}


DIV.message_and_thread {border: 2px ridge gray;
	width: 70%;
	padding: 1em;
        margin-left: auto;
        margin-right: auto;
	margin-top: 1em;
	text-align: left;
}

DIV.message_text {	margin: 1em;  }

DIV.headers {	padding: 2px;
	margin-bottom: 0;
	font-size: 80%;
	width: 31em;
	background-color: #b0b0b0;
}

DIV.header {	margin: 4px;	width: 30em;  }

.author_header {	font-weight: bold;	font-size:   120%;  }

span.subject_header {	margin-left: 1em;  }

span.date_header {	margin-left: 1em;  }

span.ip_header {	margin-left: 1em;  }

DIV.buttons {	margin-top: 1em;	padding-bottom: 1ex;  }

INPUT.button {	margin-top:	5px;	margin-bottom:	5px;  }

LI.current_entry {	margin-top: 1em;  font-weight:bold; border:1px solid black; width:30em; color:#666;}

DIV.post_message_form {	text-align: left;
	margin: 1em;
	padding: 1em;
	width: 60%;
        margin-left: auto;
        margin-right: auto;
}

DIV.message_input {	margin-top: .5em;  }

DIV.textarea {
        border: 2px #888 ridge;
	background-color: #b0b0b0;
	padding: .5em;
	width: 35em;
	margin-bottom: 1em;
}

OPTION {	font-family: Courier;   }

a.new_message, span.new_message {	background-color: #FF0;   }


DIV.search_results {
        width: 40em;
        margin:auto;
}

DIV.search_results UL {        text-align:left;  }

DIV.search_results LI {        padding:2px;   }

DIV.search_results span.author {  font-size:smaller; margin-left: 2em;  }

DIV.search_results span.date {        font-size:smaller;	margin-left: 1em;   }

body#widget {font-size:smaller; }
table#widget_table {margin:auto;}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: white;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.message_error {
    color: red;
    font-weight: bold;
    text-align: center;
}

.admin_post {
    color: #fff;
    background: #f00;
    padding: 2px;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
}
